* {
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-size:16px;
}
.page{
    display:none;
}
#viewport{
    padding-left:200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#content{
    width:100%;
    position:relative;
    margin-right:0;
}
#sidebar{
    z-index:100;
    position:fixed;
    left:200px;
    width:200px;
    height:100%;
    overflow-y:auto;
    margin-left:-200px;
    background: #37474f;
}
#sidebar header{
    background-color: #263238;
    font-size:20px;
    line-height:52px;
    text-align: center;
    color:#fff;
    display:block;
    text-decoration: none;
}
.mya{
    width:140px;
    height:20px;
    text-decoration: none;
    background: none;
    border-bottom:1px solid #455A64;
    color:#cfd8dc;
    padding:16px 30px;
}
.mya:hover{
    background: #455A64;
    color:#ECEFF1;
}
.up{
    height:40px;
    background-color: #f8f8f8;
    text-align: right;
    padding-right:20px;
    padding-top:18px;
}